<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css" integrity="sha384-CfCrinSRH2IR6a4e6fy2q6ioOX7O6Mtm1L9vRvFZ1trBncWmMePhzvafv7oIcWiW" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Gestione Dipendenti</title>
  </head>
  <body>

  
    <div class="container mt-3">

      <div class="d-flex justify-content-end mb-2">
        <a class="btn btn-outline-primary btn-sm me-2"
           data-bs-toggle="collapse"
           href="#collapseCf"
           role="button"
           aria-expanded="false"
           aria-controls="collapseCf">
          Ricerca per Codice Fiscale
        </a>

			<a class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse"
			href="#collapseDn" role="button" aria-expanded="false"
			aria-controls="collapseDn"> Ricerca per Data di Nascita </a>
			
        <a class="btn btn-outline-primary btn-sm"
           data-bs-toggle="collapse"
           href="#collapseNc"
           role="button"
           aria-expanded="false"
           aria-controls="collapseNc">
          Ricerca per Nome e Cognome
        </a>
      </div>

		
		<div th:if="${msg}" class="alert alert-warning" th:text="${msg}"></div>

      
      <div class="collapse mb-3"
           id="collapseCf"
           th:classappend="${open}=='cf' ? ' show' : ''">
        <div class="card card-body">
          <form method="get" th:action="@{/gestione/cf}">
            <div class="row g-2 align-items-center">
              <div class="col-md-6">
                <input type="text" name="cf" class="form-control" placeholder="Codice Fiscale">
              </div>
              <div class="col-md-auto">
                <button type="submit" class="btn btn-primary">Cerca</button>
                <a th:href="@{/gestione}" class="btn btn-secondary">Reset</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      
      <div class="collapse mb-3"
           id="collapseNc"
           th:classappend="${open}=='nc' ? ' show' : ''">
        <div class="card card-body">
          <form method="get" th:action="@{/gestione/nome-cognome}">
            <div class="row g-2 align-items-center">
              <div class="col-md-4">
                <input type="text" name="nome" class="form-control" placeholder="Nome">
              </div>
              <div class="col-md-4">
                <input type="text" name="cognome" class="form-control" placeholder="Cognome">
              </div>
              <div class="col-md-auto">
                <button type="submit" class="btn btn-primary">Cerca</button>
                <a th:href="@{/gestione}" class="btn btn-secondary">Reset</a>
              </div>
            </div>
          </form>
        </div>
      </div>

		<div class="collapse mb-3" id="collapseDn"
			th:classappend="${open}=='dn' ? ' show' : ''">
			<div class="card card-body">
				<form method="get" th:action="@{/gestione/data-nascita}">
					<div class="row g-2 align-items-center">
						<div class="col-md-4">
							<input type="date" name="data" class="form-control" required>
						</div>
						<div class="col-md-auto">
							<button type="submit" class="btn btn-primary">Cerca</button>
							<a th:href="@{/gestione}" class="btn btn-secondary">Reset</a>
						</div>
					</div>
				</form>
			</div>
		</div>



	</div>
    


  
    <table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Data di nascita</th>
      <th scope="col">Codice Fiscale</th>
      <th scope="col">Stipendio</th>
      <th scope="col">Data assunzione</th>
      <th scope="col">Ruolo</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>

      <tbody>
        <tr th:each="p: ${item}">
          <td th:text="${p.id}"> </td>
          <td th:text="${p.nome}"> </td>
          <td th:text="${p.cognome}"> </td>
           <td th:text="${p.dataDiNascita != null ? #temporals.format(p.dataDiNascita,'dd-MM-yyyy') : '-'}"></td>
          <td th:text="${p.cf}"> </td>
          <td th:text="${p.stipendio}"></td>

     
      <td th:text="${p.dataDiAssunzione != null ? #temporals.format(p.dataDiAssunzione,'dd-MM-yyyy') : '-'}"></td>

      <td th:text="${p.ruolo}"></td>
          <td>
            <a class="btn btn-primary"
               onclick="return confirm('Sei sicuro di Eliminare?')"
               th:href="@{|/${p.id}/delete|}"
               role="button">ELIMINA </a>

            <a class="btn btn-primary" href="" role="button">MODIFICA </a>
          </td>
        </tr>
      </tbody>
    </table>

    <a href="/" class="btn btn-primary">homepage</a>

  
    <script>
      const cf = document.getElementById('collapseCf');
      const nc = document.getElementById('collapseNc');

      cf.addEventListener('show.bs.collapse', () => {
        const bsNc = bootstrap.Collapse.getOrCreateInstance(nc);
        bsNc.hide();
      });

      nc.addEventListener('show.bs.collapse', () => {
        const bsCf = bootstrap.Collapse.getOrCreateInstance(cf);
        bsCf.hide();
      });
    </script>

  </body>
</html>
